body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: #efefef;
}

/* Header */

.site-init{
    background-color: orange;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.grid-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Form */
.btn-container{
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    margin-top: 10px;
}

#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.pet{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.Grooming, .grooming {
    background-color: rgb(55, 112, 233);
}

.Vaccines, .vaccines {
    background-color: rgb(121, 238, 121);
}

.Nails, .nails{
    background-color: rgb(183, 110, 183);
}

