*{
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-weight: 400;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background-color: #efefef;
}

h2{
    color: #5a9fa3;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.test{
    color:#5a9fa3;
    font-weight: bold; 
    margin-bottom: 50px;
    text-align: center;
    margin-top: 20px;
    font-family: Helvetica;
}

/* Header */

.site-init{
    background-color: white;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    position: sticky;
    z-index: 5;
    top: 0;
    padding-bottom: 40px;
    width: 100%;
}

.store-name{
    color:#5a9fa3;
}

.nav-bar{
    display: flex;  
    justify-content: center;
}

.site-init a{
    text-decoration: none;
    color: black;
    font-size: larger;
    padding-right: 50px;
}

.site-reg a{
    text-decoration: none;
    color: black;
}

.grid-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Main*/
.logo-container{
    display: flex;
    justify-content: center;
}

.pet-logo{
    width: 1000px;
    height: 400px;
    background-color: #5a9fa3;
}

.pet-logo img{
    height: 400px;
    padding-left: 190px;
}

.logo-text{
    background-color: #161616;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
}

.caps{
    font-family: Helvetica;
    font-size: 28px;
}

.grey{
    font-family: Helvetica;
    font-size: 25px;
}

.btn-1{
    background-color: #5a9fa3;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    margin-bottom: 20px;
}

.who-container{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

.who-container h2{
        color: #5a9fa3;
        font-weight: bold;
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: center;
    
}

.sample-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.sample-img img{
    width: 553px;
}

.who-container p{
    color: #5e5e5e;
    line-height: 2;
    margin-bottom: 50px;
}


.about-home{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 50%;
    text-align: center;
}

.qpc{
    width: 350px;
}

.qpc img{
    width: 350px;
    height: 360px;
}

.about-home img{
    border-radius: 50px;
}

.rtc{
    width: 350px;
}

.rtc img{
    width: 350px;
    height: 360px;
}

.reviews{
    text-align: center;
    color: #5e5e5e;
    background-color: #f6f6f6;
    padding-bottom: 30px;
    padding-top: 10px;
}

.reviews p{
    font-size: 25px;
}

.review-cards{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card{
    margin-top: 30px;
    padding: 20px;
    width: 250px;
    
}

.services-home{
    text-align: center;
    margin: auto;
    width: 70%;
}

.services-home p{
    font-size: 25px;
    color: #5e5e5e;
    margin-bottom: 50px;
}

.services-home button{
    background-color: #5a9fa3;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    margin-bottom: 20px;
}


/* Form */
#register-form{
    margin: 30px auto;
    width: 60%;
}

#register-form h2, #register-form p{
    text-align: center;
}

#register-form button{
    margin-bottom: 30px;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    margin-top: 10px;
}

#pets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.pet{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.Grooming, .grooming {
    background-color: rgb(55, 112, 233);
}

.Vaccines, .vaccines {
    background-color: rgb(121, 238, 121);
}

.Nails, .nails{
    background-color: rgb(183, 110, 183);
}

.error {
    display: flex;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 100%;
    height: 40px;
    padding: 5;
    padding-left: 10px;
    font-size: large;
    background-color: rgb(222, 96, 96);
}

/* Footer */

    footer{
    background-color: #5a9fa3;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 1;
}

    .footer-container{
    display: flex;
    justify-content: space-between;
    
    height: 300px;
    align-items: center;

}

    .icons-list{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    }

    .icon-container{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    padding: 10px;
    margin-right: 20px;
    }

    .copyright-text{
    display: flex;
    }
    
    .copyright-text p:last-of-type{
    border-left: 2px solid black;
    padding-left: 10px;
    margin-left: 10px;
    text-decoration: underline;
    font-weight: bolder;
    }